/*
* Website style sheet
*/

/* Imports */

/* External style sheets */
@import "../vendor/bootstrap-4.3.1/css/bootstrap.min.css";
@import "../vendor/fontawesome-5.9.0/css/fontawesome.min.css";
@import "../vendor/leaflet-1.5.1/css/leaflet.css";
@import "../vendor/leaflet.draw/1.0.4/leaflet.draw.css";
@import "../vendor/datepicker-1.0.9/dist/datepicker.css";

/* Custom style sheets */
@import "fonts.css"; 

/* Styles */

body {
  font-family: 'Roboto', sans-serif;
  color: #3d3d3d;
  background-color: #fff;
}

a {
  color: #ff3c00;
}

a:hover,
a:focus,
a:active {
  color: #ff3c00;
  text-decoration: none;
}

.container-fluid {
  z-index: 1;
}

/* Scrollbar styling */
/* Not supported by Firefox, IE and Edge */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: inherit; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #d8d8d8; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #bebebe; 
}

.leaflet-control-btn {
  background-color: #fff;
  padding: 4px 9px;
  width: 35px;
  height: 35px;
  font-size: 1.4em; 
  cursor: pointer;   
}

.leaflet-control-btn:hover,
.leaflet-control-btn:focus {
  background-color: #eee;
}

.leaflet-retina .leaflet-draw-toolbar a.leaflet-draw-toolbar-button-enabled {
  color: #fff;
  background-color: #3d3d3d;
  background-image: url(../../media/images/spritesheet-white.svg);
  background-image: linear-gradient(transparent,transparent),url(../images/spritesheet-white.svg);
}

.dropdown-menu {
  z-index: 10;
}

label {
  margin-bottom: 0;
}

.checkbox label,
.radiobox label {
  display: inline-flex;
}

.checkbox label:after,
.radiobox label:after {
  content: '';
  display: table;
  clear: both;
}

.checkbox .cr,
.radiobox .cr {
  position: relative;
  display: inline-block;
  border: 1px solid #a9a9a9;
  background-color: #fff;
  width: 1.3em;
  height: 1.3em;
  margin-right: .5em;
}

.checkbox .cr {
  border-radius: .25em;
}

.radiobox .cr {
  border-radius: 1em;
}

.checkbox .cr .cr-icon,
.radiobox .cr .cr-icon {
  position: absolute;
  font-size: .8em;
  line-height: 0;
  top: 50%;
  left: 15%;
}

.radiobox .cr .cr-icon {
  top: 52%;
}

.checkbox p,
.radiobox p {
  margin: -0.1em 0 0 0;
}

.checkbox label input[type="checkbox"],
.radiobox label input[type="radio"] {
  display: none;
}

.checkbox label input[type="checkbox"]+.cr>.cr-icon,
.radiobox label input[type="radio"]+.cr>.cr-icon  {
  opacity: 0;
}

.checkbox label input[type="checkbox"]:checked+.cr>.cr-icon,
.radiobox label input[type="radio"]:checked+.cr>.cr-icon {
  opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled+.cr,
.radiobox label input[type="radio"]:disabled+.cr {
  opacity: .5;
}

pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f6f8fa;
  border-radius: 3px;
}

pre .pl-s1 {
  margin: 0;
  padding: 0;
}

code {
  color: #e83e8c;
}

var {
  font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  font-size: 14px;
  font-style: normal;
  padding: 3px;
  background-color: #f6f8fa;
}

.nav-fix {
  margin-top: 60px;
}

/* Sidebar */

#sidebar {
  z-index: 5;
  min-height: 100vh;
  margin-left: -22rem;
  border-right: 1px solid #dee2e6;
  background-color: #f8f9fa;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

.sidebar-header,
.sidebar-body {
  padding: 0.85rem 1.5rem;
}

.right-sidebar-body {
  padding: 0.0rem 0.5rem;
}

.logo {
  font-size: 1.2rem;
  font-family: 'Merriweather', 'serif';
  text-align: center;
}

.logo h4 {
  margin: 0;
}

.logo sup {
  font-family: 'Roboto', 'sans-serif';
}

.logo-primary {
  color: #fff;
  border-bottom: 1px solid #dee2e6;
  background-color: #ff3c00;
}

.logo-secondary {
  color: #ff3c00;
}

.logo a {
  color: inherit;
}

.logo a:hover, 
.logo a:focus,
.logo a:active {
  color: inherit;
  text-decoration: none;
}

.sidebar-body {
  font-size: 0.8em;
  width: 22rem;
  max-height: calc(100vh - 60px);
  overflow-y: scroll;
}

.right-sidebar-body {
  font-size: 0.7em;
  width: 12rem;
  max-height: calc(100vh - 60px);
  overflow-y: scroll;
}

.sidebar-body div[class$="-group"] {
  margin-bottom: 1rem;
}

.sidebar-content .input-group .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.sidebar-component a {
  color: inherit;
}

.sidebar-component a:hover, 
.sidebar-component a:focus,
.sidebar-component a:active {
  color: inherit;
  text-decoration: none;
}

.sidebar-component > .component-header {
  margin-bottom: 1rem;  
}

.footnote {
  font-size: small;
  text-align: center;
}

.footnote strong {
  color: #ff3c00;
}

.footnote a {
  color: #3d3d3d;
}

.footnote a:hover, 
.footnote a:focus {
  text-decoration: underline;
}

.right-sidebar-body .result-component {
  margin-top: 0.0em;
  margin-bottom: 1.2em;
}

.right-sidebar-body .result-component table {
  font-size: 1.3em;
  border-spacing: 0 5px;
  border-collapse: separate;
}

.right-sidebar-body .result-component table tr td {
  padding-right: 0.8em;
  padding-bottom: 0.8em;
}

.panel-heading .accordion-toggle:after {
  /* symbol for "opening" panels */
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: "\f0d7"; /* Caret right */
  float: right;
  color: #a3a3a3;
  transition: 0.2s; 
}

.panel-heading .accordion-toggle.collapsed:after {
  /* symbol for "collapsed" panels */
  transform: rotate(-90deg);
  transition: 0.2s; 
}

.sidebar-body > button {
  width: 100%;
}

#rect-draw{
  width: 100%;
}

.sidebar-component {
  padding-top: 15px;
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.sidebar-component:first-child {
  padding-top: 5px;
}

.sidebar-component .component-body {
  padding: 5px 0 20px;
}

.sidebar-component #adv-submenu > .component-body {
  padding-bottom: 10px;
}

.sidebar-body #rect-submenu label {
  min-width: 56px;
}

.sidebar-component .component-body hr {
  margin: 1.75em auto;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.sidebar-body #adv-days div[class$="-group"] {
  margin-bottom: 0;
}

.sidebar-body #adv-days div[class$="-group"] label {
  margin-bottom: 0.5rem;
}

.sidebar-body .sub-component-header {
  margin-bottom: 1em;
}

.sidebar-body .sub-component-header h6 {
  font-weight: bold;
  margin: 0 0.5em 0 0;
  display: inline-block;
}

.sidebar-body .sub-component-header .checkbox {
  display: inline-block;
  vertical-align: middle;
}

.sidebar-body .sub-component-header .checkbox label {
  min-width: 0;
  margin: 0;
}

.sidebar-body .sub-component-header .checkbox input[type="checkbox"]:checked+.cr {
  color: #fff;
  background: #ff3c00;
  border-color: #ff3c00;
}

.sidebar-body .sub-component-body label {
  min-width: 60px;
}

.sidebar-body .sub-component-body .cr {
  background: #fff;
}

.sidebar-body .sub-component-body #interval-days label {
  font-weight: bold;
}

#adv-days .sub-component-body .form-check label {
  font-size: 1rem;
  min-width: 2.5rem;
}

#adv-packing .sub-component-body {
  vertical-align: middle;
}

#adv-packing .sub-component-body .radiobox {
  margin-right: 1em;
}

#adv-packing .sub-component-body .form-check label {
  min-width: 0;
}

#adv-buttons {
  margin: 2rem 0 1rem;
}

#adv-packing #packing-updates p {
  font-size: 14px;
}

#calculate{
  margin: 1em 0;
  background-color:  #ff3c00;
  border: 1px solid #9c2400;
}
/* ---- */


#rect-submenu .input-group-prepend .input-group-text {
  min-width: 2.5rem;
  font-size: 1.0em;
}

#rect-submenu h6{
  margin-top: 1.5em;
}

#rect-submenu .rect-input{
  margin-bottom: 0.25em;
}
#rect-submenu .rect-inputlast{
  margin-bottom: 1.0em;
}

#rect-submenu .form-control{
  min-width: 2.5rem;
  font-size: 1.0em;
}

#wrapper.toggled #sidebar-wrapper .input-group-prepend .input-group-text {
  margin-left: 0;
}

#page-wrapper {
  min-width: 100vw;
  min-height: 100vh;
}

.map-container {
  padding: 0;
  min-height: calc(100vh - 120px);
}

#map {
  z-index: 2;
  min-height: inherit;
}

.leaflet-container a.leaflet-popup-close-button {
  padding: 6px 20px 0 0;
}

.leaflet-popup-content {
  margin: 10px;
  font-family: 'Roboto', sans-serif;
}

.leaflet-popup-content h6 {
  margin: 15px 0 5px 0;
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
}

.leaflet-popup-content p {
  margin: 0;
}

.leaflet-popup-content > .content-trajectory  h6 {
  color: #ff3c00;
}

.leaflet-popup-content > .content-trajectory table th,
.leaflet-popup-content > .content-trajectory table td {
  padding: 2px 0;
}

.leaflet-popup-content > .content-trajectory table td {
  padding-left: 10px;
}

/* Fixes delete button jump bug */
.leaflet-touch .leaflet-draw-toolbar .leaflet-draw-edit-remove.leaflet-disabled {
  background-position: -240px -1px;
}

/* About & Documentation page */

.page-content {
  padding-top: 20px;
  padding-bottom: 40px;
}

.page-content .back {
  color: gray;
}

.page-content h1,
.page-content h2,
.page-content h3,
.page-content h4,
.page-content h5,
.page-content h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 400;
  line-height: 1.25;
}
.page-content h1 {
  font-size: 2em;
  margin-top: 16px;
}

.page-content h2 {
  font-size: 1.5em;
}

.page-content h3 {
  font-size: 1.25em;
  font-weight: 600;
}

.page-content h4 {
  font-size: 1em;
  font-weight: 600;
}

.page-content h5 {
  font-size: 1em;
}

.page-content h6 {
  font-size: 1em;
  margin: 0;
}

.page-content p {
  font-size: 16px;
}

.page-content li {
  margin-bottom: 10px;
  line-height: 1.75em;
}

.page-content table th,
.page-content table td {
  padding: 7px 2px;
  text-align: left;
  vertical-align: top;
}

.page-content table td {
  padding-left: 20px;
}

.page-footer {
  background-color: #222f3b;
  color: #fff;
  padding: 20px;
}

.page-footer p {
  margin: 0;
  font-size: 14px;
}

.page-footer a {
  color: lightgray;
}

.source {
  color: #5e5d5d;
}

.source a {
  color: #ff3c00;
}

.source a:hover,
.source a:focus,
.source a:active {
  text-decoration: underline;
}

@media (min-width: 768px) {
  #sidebar {
    margin-left: 0;
  }

  #page-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar {
    margin-left: -22rem;
  }
}
